@import "tailwindcss";

@theme {
    --color-primary:#2B85FF ;
    --color-secondary:#EF863E;  
}

.input-box{
    @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
}

.btn-primary{
    @apply w-full text-sm bg-primary text-white p-2 rounded my-1 hover:bg-blue-600 cursor-pointer;
}

.icon-btn{
    @apply text-xl text-slate-300 cursor-pointer hover:text-primary;
}